@import 'swiper/scss';
@import 'swiper/scss/navigation';

[data-component-id='swiper-1'] {
	--swiper-theme-color: var(--color-accent-1);

	.swiper-slide {
		border: 1px solid var(--color-outline-primary);
		border-radius: var(--radius-base);
		background-color: var(--color-background-primary);
		padding-block: var(--padding-base);
		padding-inline: calc(var(--padding-base) * 2);
	}
}
