/**
 * This is a component styles file. It MUST be imported in the component script file.
 * If you need to import libraries styles for your component, import them here.
 * You may white styles here, but also may use styles/ subdirectory to create smaller chunks and then import them there.
 *
 * Highly recommended wrapping your styles with [data-component-id="COMPONENT-NAME"] selector.
 * It helps to avoid affecting other components.
 * */

// If you want to use mq (media-query) or any other mixin you have to import them first.
@import "../../_styles/utilities/mixins.scss";


[data-component-id="counter"] {
	.heading {
		background: linear-gradient(to bottom, var(--color-accent-1), var(--color-accent-2));
		-webkit-background-clip: text;
		background-clip: text;
		margin-block: 0;
		-webkit-text-fill-color: transparent;
	}

	.input {
		@include autofill(white, 1px solid currentColor);
	}
	.input-2 {
		@include autofill(red);
	}

	.container {
		position: relative;

		&::before {
			position: absolute;
			content: "default breakpoint";
			inset-block-start: 0;
			inset-inline-end: var(--container-padding);

			@include mq($from: mobile-sm) {
				content: "mobile-sm and higher";
			}

			@include mq($from: tablet-sm, $until: desktop-sm) {
				content: "from tablet-sm up to desktop-sm";
			}
		}
	}

	[data-counter-state] {
		border: currentColor 2px solid;
		background-color: var(--color-background-primary);

		&[data-counter-state="odd"] {
			color: var(--color-accent-1);
		}

		&[data-counter-state="even"] {
			background-color: var(--color-accent-2);
			color: var(--color-accent-3);
		}
	}
}


