.heading {
	font-weight: 700;
	line-height: 1.2em;
	margin-block-end: .5em;

	&--xl {
		font-size: 4rem;
	}
	&--lg {
		font-size: 3rem;
	}
	&--md {
		font-size: 2.25rem;
	}
	&--sm {
		font-size: 1.75rem;
	}
	&--xs {
		font-size: 1.25rem;
	}
}
