/**
* Highly recommend using css variables instead of sass variables where it is possible.
* The reasons why:
* 1. You can not edit a value of sass variable, but you can edit css variable value on media queries.
*    Example: change color value if theme is dark or --padding-base on small screens.
* 2. You can read and write css variables using javascript.
*    Example: use --js-scrollbar-width to set body padding when scroll is locked.
* 3. You don't have to import css variables to other files to use it.
* */

:root {
	--color-accent-1: hsl(0, 100%, 50%);
	--color-accent-2: hsl(52, 100%, 50%);
	--color-accent-3: hsl(211, 100%, 36%);
	--color-background-primary: hsl(0, 0%, 100%);
	--color-background-secondary: hsl(0, 0%, 97%);
	--color-text-primary: hsl(0, 0%, 13%);
	--color-text-secondary: hsl(0, 0%, 35%);
	--color-outline-primary: hsl(0, 0%, 53%);
	--color-outline-secondary: hsl(0, 0%, 73%);
	--color-error: hsl(0, 100%, 74%);
	--color-success: hsl(130, 100%, 74%);

	--padding-base: 4rem;

	--container-max-width: 100rem;
	--container-padding: calc(var(--padding-base) * 0.75);
	--container-width: min(var(--container-max-width), calc(100% - 2 * var(--container-padding)));

	--radius-base: 0.25rem;

	--transition-default: all 0.3s ease 0s;

	--scrollbar-width: 40px;
	--js-scrollbar-width: 0; // Use this variable to set padding-inline-end to body when locking scroll.
	--scrollbar-thumb-color: var(--color-accent-1);
	--scrollbar-background-color: var(--color-background-primary);
}
